<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Home | Portfolio</title>
</head>
<body>
<div class="container">
    <nav class="nav-bar">
        <div class="side-logo">
            <div class="logo">
                <div><p>J</p></div>
                <p><strong>Jhon Doe</strong></p>
            </div>
        </div>
        <div class="nav-contents">
            <div class="contents">
                <ul>
                    <a href="aboutme.html"><li class="bold">About Me</li></a>
                    <a href="resume.html"><li>Resume</li></a>
                    <a href="portfolio.html"><li>Portfolio</li></a>
                    <a href="contact.html"><li>Contact</li></a>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="image-bg">
            <div class="image">
            <img src="../imgs/img.jpg" alt="avatar">
            </div>
        </div>
        <div class="content reset">
            <p>Developer</p>
            <h2>Jhon Doe</h2>
            <div class="icons">
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-github"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="intro">
                Lorem ipsum dolor adipisicing elit. Ratione ducimus quod, error reiciendis, quibusdam qui beatae molestias perspiciatis sit expedita architecto incidunt, quam adipisci nobis. Dictago .
            <span>Let's get talking</span>
            </div>
            <div class="buttons">
                <button>Download CV</button>
                <button id="contact">Contact</button>
            </div>
        </div>
    </header>
    <main>
        <div class="main-one">
            <h2>What I Do</h2>
            <div class="one">  
            <div class="box">
                <i class="fas fa-chart-pie"></i>
                <div>
                <h3>ML Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus fuga alias blanditiis repudiandae animi recusandae, doloribus soluta, eum labore numquam optio provident laborum, harum cupiditate distinctio ad possimus in.</p>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-pencil-alt"></i> 
                <div>
                <h3>ML Development</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus fuga alias blanditiis repudiandae animi recusandae, doloribus soluta, eum labore numquam optio provident laborum, harum cupiditate distinctio ad possimus in.</p>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-database"></i>
                <div>
                    <h3>ML Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus fuga alias blanditiis repudiandae animi recusandae, doloribus soluta, eum labore numquam optio provident laborum, harum cupiditate distinctio ad possimus in.</p>
                    </div>
                </div>
            <div class="box">
                <i class="fas fa-video"></i>                <div>
                    <h3>ML Development</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus fuga alias blanditiis repudiandae animi recusandae, doloribus soluta, eum labore numquam optio provident laborum, harum cupiditate distinctio ad possimus in.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-one main-two">
            <h2>Recommendations</h2>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <img id="avatar" src="../imgs/avatar-1.jpg" alt="avatar-1">
                        <h5>Sarah Blanche</h5>
                        <p>Lorem ipsum ad fugit quaerat laboriosam explicabo, voluptatibus temporibus. Perferendis sed tenetur corrupti consectetur in reprehenderit.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100">
                    <div class="carousel-caption d-none d-md-block">
                        <img id="avatar" src="../imgs/avatar-2.jpg" alt="avatar-2">
                        <h5>Jack Wyatt</h5>
                        <h6>SDE at Google</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis vitae quibusdam earum, itaque odit quas nulla laborum eaque harum!</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img  class="d-block w-100" >
                    <div class="carousel-caption d-none d-md-block">
                        <img id="avatar" src="../imgs/avatar-3.jpg" alt="avatar-3">
                        <h5>Emma Resse</h5>
                        <h6>Web Developer at TCS</h6>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quis vitae quibusdam earum, itaque odit quas nulla laborum eaque harum!</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </main>
    <footer>
        <div class="footer-contents">
            <div class="contents">
                <ul>
                    <a href="#"><li>Linked In</li></a>
                    <a href="#"><li>GitHub</li></a>
                    <a href="#"><li>Twitter</li></a>
                    <a href="#"><li>Facebook</li></a>
                    <a href="#"><li>Email</li>
                </ul>
                <p class="copyrights">&copy 2021 All rights reserved. UncertainCo.</p>
            </div>

        </div>
    </footer>
   </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>