<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">

    <title>Home | Portfolio</title>
</head>
<body>
<div class="container">
    <nav class="nav-bar">
        <div class="side-logo">
            <div class="logo">
                <div><p>J</p></div>
                <p><strong>Jhon Doe</strong></p>
            </div>
        </div>
        <div class="nav-contents">
            <div class="contents">
                <ul>
                    <a href="#"><li class="bold">About Me</li></a>
                    <a href="#"><li>Resume</li></a>
                    <a href="#"><li>Portfolio</li></a>
                    <a href="#"><li>Contact</li></a>
                </ul>
            </div>
        </div>
    </nav>
    <header>
        <div class="image-bg">
            <div class="image">
            <img src="../imgs/img.jpg" alt="avatar">
            </div>
        </div>
        <div class="content">
            <p>Developer</p>
            <h2>Jhon Doe</h2>
            <div class="icons">
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-github"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook"></i>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="intro">
                Lorem ipsum dolor adipisicing elit. Ratione ducimus quod, error reiciendis, quibusdam qui beatae molestias perspiciatis sit expedita architecto incidunt, quam adipisci nobis. Dicta .
            </br><span>Let's get talking</span>
            </div>
            <div class="buttons">
                <button>Download CV</button>
                <button id="contact">Contact</button>
            </div>
        </div>
    </header>
</div>


</body>
</html>