<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
<div class="container">
    <nav class="nav-bar">
        <div class="side-logo">
            <div class="logo">
                <div><p>J</p></div>
                <p><strong>Jhon Doe</strong></p>
            </div>
        </div>
        <div class="nav-contents">
            <div class="contents">
                <ul>
                    <a href="../templates/index.html"><li>About Me</li></a>
                    <a href="../templates/resume.html"><li>Resume</li></a>
                    <a href="#"><li class="bold">Portfolio</li></a>
                    <a href="../templates/contact.html"><li>Contact</li></a>
                </ul>
            </div>
        </div>
    </nav>
<header>
        <div class="contact_area">
        <div class="contact ">
            <h1>Portfolio</h1>
            <div class="sub_ti">
                <h4>My Works</h4>
            </div>
        </div>
        </div>
        </header>
        
      <div class="container">
             <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">
                    <div  class="portfolio-content">

                      <ul class="portfolio-filters">
                        <li class="active">
                          <a class="filter btn btn-sm btn-link" >All</a>
                        </li>
                        
                      </ul>
      
      
                      <!-- Portfolio Grid -->
                      <div class="portfolio-grid two-columns shuffle">

                        <!-- Portfolio Item 1 -->
                        <figure class="item standard">
                          <div class="portfolio-item-img">
                            <img src="https://cdn.dribbble.com/users/1643455/screenshots/13951999/online_class_dashboard_4x.jpg" alt="Image"/>
                            
                          </div>

                          <i class="far fa-file-alt"></i>
                          <h4 class="name">Lorem Ipsum is simply dummy</h4>
                          <span class="category">Lorem Ipsum </span>
                        </figure>
                      
                        <figure class="item standard" >
                          <div class="portfolio-item-img">
                            <img src="https://cdn.dribbble.com/users/1643455/screenshots/13951999/online_class_dashboard_4x.jpg" alt="Image" />
                          </div>

                          <i class="far fa-file-alt"></i>
                          <h4 class="name">Lorem Ipsum is simply dummy</h4>
                          <span class="category">Lorem Ipsum </span>
                        </figure>
                        
                      </div>
                
                    </div>
                  </div>
                </div>
      </div></br>
       <footer>
        <div class="footer-contents">
            <div class="contents">
                <ul>
                    <a href="#"><li>Linked In</li></a>
                    <a href="#"><li>GitHub</li></a>
                    <a href="#"><li>Twitter</li></a>
                    <a href="#"><li>Facebook</li></a>
                    <a href="#"><li>Email</li>
                </ul>
                <p class="copyrights">&copy 2021 All rights reserved. UncertainCo.</p>
            </div>
        </div></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>