@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #4A6583;
}
.container {
    background: #222222;
    border-radius: 40px;
    width: 83%;
    margin: auto;
    margin-top: 50px;
    padding: 45px;

}
.nav-bar{
    position: relative;
    width: 100%;
}
.side-logo {
    position: absolute;
    width: 200px;
    left: 10px;;
}
.logo {
    display: flex;
}
.logo > div{
    position: relative;
    width: 40px;
    height: 40px;
    background: #4A6583;
    border-radius: 50%;
    padding: 23px;
    
}
.logo > div > p {
    position: absolute;
    color: white;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
    left: 50%;
    top: 50%;
    padding: 15px;
    transform: translate(-50%,-50%);
}

.logo > div + p {
    font-family: poppins;
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 55px;
    font-size: 18px;
}
.nav-contents {
    position: absolute;
    right: 0;
    top: 10px;
    width: 450px;
}
.nav-contents ul {
    display: flex;
    font-size: 14px;
    color: #aaa;
    justify-content: space-evenly;
    align-self: flex-end;
    list-style-type: none;
}
.bold {
    font-weight: 900;
    color: whitesmoke;
}
a {
    text-decoration: none;
    color: #aaa;
    outline: none;
    transition: all 0.2s ease-in;
}
a:hover{
    font-weight: 900;
    color: whitesmoke;
}
header {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 100px;
}
.image-bg {
    position: relative;
    width: 21em;
    height: 21em;
    border-radius: 50%;
    background: #444444;
    left: 10em;
    box-shadow: 3px 2px 14px 3px rgba(0,0,0,0.75);
}
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background: #aaa;
}
.content {
    position: relative;
    top: 10px;
    color: white;
    width: 600px;
    height: 800px;
}
.content p {
    font-size: 14px;
    color: #aaa;
}
.content h2 {
    font-size: 48px;
    padding: 10px 0px;
    font-weight: 900;
}
.content .icons {
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    margin-left: 5px;
    padding: 10px 0px;
}
.content .icons i {
    font-size: 18px;
    margin-right: 15px;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.content .icons i:hover {
    color: #ff9800;
}
.content .intro {
    margin-top: 10px;
    font-size: 14px;
    width: 85%;
    color: #ddd;
    line-height: 25px;
}

.content .intro span {
    font-size: 16px;
    border-radius: 2px;
    border-bottom: 3px solid #4A6583;
    transition: all 0.3s ease;
}

.content .intro span:hover {
    cursor: pointer;
    color: #ff9800;
}

.content .buttons {
    margin-top: 15px;
    padding: 10px 0px;
}
button {
    position: relative;
    left: -10px;
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 30px;
    background: #444;
    color: whitesmoke;
    border: none;
    border: 2px solid #4A6583;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 5px 5px 2px rgba(0, 0, 0,0.15);
}
#contact{
    border: 2px solid #aaa;
}
#contact:hover{
    color: #222;
    background: #aaa;
}
button:hover{
    background: #4A6583;
}